In [1]:
import os
filename = os.listdir('/content/drive/MyDrive/twitter-celebrity-tweets-data/')

In [4]:
import re
import nltk
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import pandas as pd
from tqdm import tqdm

porter_stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
def preprocessor(text):
    text = ' '.join([i for i in text])
    return text

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=1000,stop_words='english',lowercase=False,use_idf=True,norm='l2',smooth_idf=True)

In [82]:
import pandas as pd
for abc in filename:   
    # if not abc.startswith('.'):
    #     word = re.findall(r"\w+", open('./data'+'//'+abc,'r').read().lower())  
    data = pd.read_csv('/content/drive/MyDrive/tmp/'+abc)
    # display(data)
    data_tweet = data.copy()
    # # tokens = []
    for d in range(len(data)):
      post = data.loc[d,'tweet']
      tokens = []
      post = re.sub(r'\|\|\|', r"    ", post)    # 去除'|||'
      post = re.sub(r'http\S+', r' ', post)    # 去除網址
      post = re.sub(r'\d','', post)  # 去除數字
      # post = re.sub(r'[.,"\-?:!;@]', '', post)
      post = re.sub(r'^b\'', '', post) 
      post = re.sub(r'x[A-Za-z]', '', post)
      post = re.sub(r'\b[A-Za-z]\b', '', post)

      # 取出所有格 -> 放入列表 -> 去除所有格
      x = re.findall("[A-Za-z]+\'+\w+", post)   # x is a list
      for i in x:
          tokens.append(i)
      post = re.sub(r"[A-Za-z]+\'+\w+", r"   ", post)  # 去除所有格

      result = re.findall( r"\w+" , post.lower())  # tokenizaion

      # for i in result:
      #     tokens.append(i)
      word = []
      for data1 in result:
          if data1 not in stop_words:
              word.append(data1)
      for i in word:
        i = re.sub(r'[.,"\-?:!;@_]', '', i)
        tokens.append(porter_stemmer.stem(i))
      
      # print(tokens)
    #   # 整理回 dataframe
      data_tweet.tweet[d] = tokens
    for i in tqdm(range(data_tweet.shape[0])):
      data_tweet.loc[i,'text'] = preprocessor(data_tweet['tweet'][i])
    
    x = tfidf.fit_transform(data_tweet.text)
    vec_text = x.toarray()
    vec_df = pd.DataFrame(vec_text)
    vec_df.to_csv('/content/drive/MyDrive/tweet_processed/'+abc)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1546539816317337601,2022-07-11 17:00:00+00:00,"[metavers, vr, creat, ecosystem, pe, game, nft..."
1,1546513683710361602,2022-07-11 15:16:09+00:00,"[rt, championsleagu, ronaldinho, mondaymotiv, ..."
2,1545479068530925571,2022-07-08 18:44:58+00:00,"[rt, laligaen, ronaldinho, laligasantand, seas..."
3,1545478965317484549,2022-07-08 18:44:33+00:00,"[rt, seriea, compart, est, ronaldinho, de, la,..."
4,1545132855952658435,2022-07-07 19:49:14+00:00,"[rt, championsleagu, tri, get, ball, ronaldinh..."
...,...,...,...
3236,723914469752102912,2016-04-23 16:40:33+00:00,"[cdia, de, jorg, obrigado, por, estar, sempr, ..."
3237,723625942757838848,2016-04-22 21:34:03+00:00,"[golden, ball, multipli, star, consequ, point,..."
3238,723498621736521728,2016-04-22 13:08:08+00:00,"[parab, ns, kaka, feliz, aniversario, parceiro..."
3239,723189030863704065,2016-04-21 16:37:55+00:00,"[make, kronaldinho, seen, model, yet, go, access]"
3240,722846408911368193,2016-04-20 17:56:28+00:00,"[kkkk, turmadoronaldinho]"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1536179657044742144,2022-06-13 02:52:25+00:00,"[junta, domin, eress, con, el, sult, nadirassi..."
1,1536142213553393664,2022-06-13 00:23:38+00:00,"[rt, pelaezalberto, se, esta, estrenando, la, ..."
2,1535002919136681984,2022-06-09 20:56:29+00:00,"[rt, pelaezalberto, el, promo, bado, adalramon..."
3,1533983765906587648,2022-06-07 01:26:44+00:00,"[rt, pelaezalberto, qu, gran, vista, tien, el,..."
4,1530774534671826944,2022-05-29 04:54:24+00:00,"[mi, respeto, esta, gran, se, ora, maravilloso..."
...,...,...,...
3186,867430429334405120,2017-05-24 17:21:45+00:00,"[rt, rociojimenez, te, pued, perder, el, music..."
3187,867415996146921473,2017-05-24 16:24:23+00:00,"[se, pued, llorar, estar, tranquilo]"
3188,867387489035575297,2017-05-24 14:31:07+00:00,"[hay, quien, persisten, en, agregarl, drama, l..."
3189,867361614722355202,2017-05-24 12:48:18+00:00,"[nada, ni, nadi, quitar, mi, paz, buen, da, todo]"
3190,867001221185323009,2017-05-23 12:56:13+00:00,"[haz, del, mundo, que, tien, la, mano, un, mej..."

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1546426939614937088,2022-07-11 09:31:28+00:00,"[collect, memori, ayuntamiento, de, alicant, a..."
1,1545949670119129088,2022-07-10 01:54:58+00:00,"[sa, mundo, ng, walang, kasiguraduhan, nahanap..."
2,1545731977789177857,2022-07-09 11:29:56+00:00,"[dadalhin, kita, sake, palasyo, take, away, at..."
3,1545004151783948288,2022-07-07 11:17:49+00:00,"[say, best, cochinillo, spain, nthe, pinoy, mi..."
4,1544676501555032064,2022-07-06 13:35:51+00:00,"[madrid, spain]"
...,...,...,...
3212,783562902917750784,2016-10-05 07:02:08+00:00,"[hair, nthank, ate, celestetuviera, squeez, bu..."
3213,783559870695997440,2016-10-05 06:50:05+00:00,"[edukcircl, award, look, nmake, mikebawa, nhai..."
3214,783557654853672960,2016-10-05 06:41:17+00:00,"[asap, nmake, lalaflor, nhair, njonathanvelasc..."
3215,783286708641140740,2016-10-04 12:44:38+00:00,[thethirdparti]
3216,783283205713567744,2016-10-04 12:30:43+00:00,"[celebratelov, oct, lovewin, thethirdparti]"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1545446145714896896,2022-07-08 16:34:08+00:00,"[ne, week, wondercad, ab, olut, pack, best, su..."
1,1541455827696922629,2022-06-27 16:18:02+00:00,"[imagin, bflay, teach, grill, actual, realiti,..."
2,1540847602979184643,2022-06-26 00:01:10+00:00,"[love, send, video, like, directli, peopl, pho..."
3,1540050251360468993,2022-06-23 19:12:47+00:00,"[love, attent, good, friend, ian, get, tiktok,..."
4,1539322185944223744,2022-06-21 18:59:43+00:00,"[desir, go, summer, vacat, big, tomorrow, wond..."
...,...,...,...
3202,6092122825,2009-11-26 20:50:32+00:00,"[happi, slapsgiv, everyon, make, sure, spend, ..."
3203,6074556288,2009-11-26 06:32:57+00:00,"[like, actualnph, gone, simpl, mayb, convinc, ..."
3204,6072770998,2009-11-26 05:01:04+00:00,"[you're, mayb, chose, wrong, twitter, name, re..."
3205,6061463103,2009-11-25 21:22:11+00:00,"[muppet, bohemian, rhapsodi, yet, seen, look, ..."
3206,6058810716,2009-11-25 19:35:55+00:00,"[happi, day, thanksgiv, peep, nm, visit, famil..."

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1546613984165449728,2022-07-11 21:54:43+00:00,"[join, gma, tomorrow, morn, special, perform, ..."
1,1545541598989017088,2022-07-08 22:53:26+00:00,[]
2,1545540636010369024,2022-07-08 22:49:37+00:00,"[rt, ponchocommu, happi, see, so, ryanmflem, e..."
3,1545539769152614400,2022-07-08 22:46:10+00:00,"[rt, lukeswt, bullshit, feed, selfish, appetit..."
4,1545138545106358273,2022-07-07 20:11:51+00:00,"[happi, birthday, rhythm, king, ashtonso]"
...,...,...,...
3201,829783704394362880,2017-02-09 20:07:06+00:00,"[rt, ashtonso, stand, face, face, god, find, n..."
3202,829755069998387200,2017-02-09 18:13:19+00:00,"[rt, michaelso, super, eit, play, festiv, year..."
3203,829643469425512449,2017-02-09 10:49:51+00:00,"[rt, lukeso, also, thought, snore]"
3204,829643461565353984,2017-02-09 10:49:49+00:00,"[rt, lukeso, sleep, petunia, snore]"
3205,829643448311439362,2017-02-09 10:49:46+00:00,"[rt, lukeso, yeah]"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            twitter_id                       date        tweet
0  1223743411477450755  2020-02-01 23:02:20+00:00  [autoeurop]
1  1223742637439582210  2020-02-01 22:59:15+00:00         [si]
2  1223733844953718796  2020-02-01 22:24:19+00:00  [autoeurop]
3  1223733033653719047  2020-02-01 22:21:05+00:00           []
4  1223295639901167619  2020-01-31 17:23:02+00:00           []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1544742879091892227,2022-07-06 17:59:36+00:00,"[rt, limewir, relaunch, bang, nwe, bring, digi..."
1,1544441209439100934,2022-07-05 22:00:53+00:00,"[rt, everbrandi, brandi, win, si]"
2,1542891021985538053,2022-07-01 15:20:59+00:00,"[happi, juli, blaircaldw, wuv]"
3,1542689930782167041,2022-07-01 02:01:55+00:00,"[rt, bethertv, vocal, bibl, brandi, share, tam..."
4,1542291753415344129,2022-06-29 23:39:43+00:00,"[rt, cthethird, pic, year, apart, give, day]"
...,...,...,...
3201,717889533488959489,2016-04-07 01:39:37+00:00,"[fave, feel, god, sing, sulli, know, like, say..."
3202,717865333068050433,2016-04-07 00:03:27+00:00,"[frank, gatson, legend]"
3203,717841898174545922,2016-04-06 22:30:20+00:00,"[time, life, perform, song, thank, overwhelm, ..."
3204,717829102334566402,2016-04-06 21:39:29+00:00,"[thisislif, goodgodalmighti, begginandpleadin,..."
3205,717824647308283905,2016-04-06 21:21:47+00:00,[whoa]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1546559961194455040,2022-07-11 18:20:03+00:00,"[x, aljassmitour, kuwait]"
1,1546389739858792448,2022-07-11 07:03:39+00:00,"[x, aljassmitour, khorfakkan]"
2,1546369160913068032,2022-07-11 05:41:52+00:00,"[rt, randam]"
3,1546368909531545600,2022-07-11 05:40:52+00:00,"[rt, jawaheralqasimi]"
4,1546214166050095104,2022-07-10 19:25:59+00:00,[]
...,...,...,...
3182,1251548759185555456,2020-04-18 16:30:51+00:00,"[rt, asmaaelaskari, togetherathom]"
3183,1251522801229537286,2020-04-18 14:47:42+00:00,[alnasserfhd]
3184,1251522688482500610,2020-04-18 14:47:15+00:00,"[rt, alnasserfhd]"
3185,1251492545378598918,2020-04-18 12:47:29+00:00,"[uae, countri, hope, peac, human, join, lineup..."
3186,1251483356673474560,2020-04-18 12:10:58+00:00,"[rt, alaininfograph, x, sainaljassmi]"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1542770993634033664,2022-07-01 07:24:02+00:00,"[leeminho, nth, membership, recruit, minoz, my..."
1,1541736984514768896,2022-06-28 10:55:15+00:00,[minoz]
2,1540214166484418560,2022-06-24 06:04:07+00:00,"[nth, membership, recruit, minoz, mym, mymente..."
3,1540214161799467008,2022-06-24 06:04:06+00:00,"[leeminho, lt, welcom, th, global, minoz, gt, ..."
4,1539434291188228096,2022-06-22 02:25:10+00:00,"[happyminhoday, leeminho, minoz, mym, mymenter..."
...,...,...,...
869,17488731134,2010-07-01 12:25:44+00:00,"[kimkibang, follow]"
870,17483998206,2010-07-01 10:38:32+00:00,[parkjunmyun]
871,17483641839,2010-07-01 10:29:28+00:00,[dennik]
872,17482814738,2010-07-01 10:07:52+00:00,[starhau]
873,17482080581,2010-07-01 09:48:38+00:00,[]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               twitter_id                       date                tweet
0     1546666149089263623  2022-07-12 01:22:00+00:00                   []
1     1546661116884819968  2022-07-12 01:02:00+00:00                   []
2     1546656082407223296  2022-07-12 00:42:00+00:00                   []
3     1546651301919920128  2022-07-12 00:23:00+00:00                   []
4     1546646016509837312  2022-07-12 00:02:00+00:00                   []
...                   ...                        ...                  ...
3245  1526416774668894210  2022-05-17 04:18:13+00:00  [rt, adhamsharkawi]
3246  1526415050029912065  2022-05-17 04:11:22+00:00                   []
3247  1526413729121943553  2022-05-17 04:06:07+00:00             [rt, jh]
3248  1526412442246361088  2022-05-17 04:01:00+00:00                   []
3249  1526407157276614656  2022-05-17 03:40:00+00:00                   []

[3250 rows x 3 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1545649751957409792,2022-07-09 06:03:12+00:00,"[kurban, bayram, cbarek, olsun, kurbanbayram, ..."
1,1541735162240720896,2022-06-28 10:48:01+00:00,[]
2,1527200492358705152,2022-05-19 08:12:26+00:00,"[may, atat, crk, anma, gen, lik, spor, bayram,..."
3,1521004338952474624,2022-05-02 05:51:07+00:00,"[ramazan, bayram, cbarek, olsun, sa, kl, nice,..."
4,1517760615800049664,2022-04-23 07:01:44+00:00,"[kalbimizdeki, sonsuz, sevgiyl, sana, minnetta..."
...,...,...,...
821,225911699377623040,2012-07-19 11:15:21+00:00,"[bu, ak, sizleri, ok, czel, bir, cm, daha, bek..."
822,225703499911020544,2012-07-18 21:28:02+00:00,"[rt, buraksatibol, setten, ok, cnt, cler, sana..."
823,225642415938224128,2012-07-18 17:25:19+00:00,"[ahmet, kural, burak, sat, bol, set, baslar]"
824,225614796073078784,2012-07-18 15:35:33+00:00,"[lginiz, sewginiz, icin, sonsuz, tesekkurl, rs..."
825,225324922724036608,2012-07-17 20:23:42+00:00,"[ben, geldim, hakiki, ahmet, kural]"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,twitter_id,date,tweet
0,1545068071194443782,2022-07-07 15:31:48+00:00,"[wait, see, result, let, get, show, road, guy]"
1,1544336850114023426,2022-07-05 15:06:12+00:00,"[special, stori, girl, make, us, proud, nall, ..."
2,1544273566023270403,2022-07-05 10:54:44+00:00,"[unbeliev, run, chase, phenomen, test, match]"
3,1544206134021595137,2022-07-05 06:26:46+00:00,"[fun, super, eit, keep, eye, poll, help, decid..."
4,1544194750085038080,2022-07-05 05:41:32+00:00,[soon]
...,...,...,...
3215,212232506550910976,2012-06-11 17:19:07+00:00,"[akashsekhon, anywher, everywher, courier, win..."
3216,212231026817253376,2012-06-11 17:13:14+00:00,"[go, winner, today, battleofthebush, trivia, c..."
3217,212229655133040641,2012-06-11 17:07:47+00:00,"[bushbattl, still, decid]"
3218,212218067378380802,2012-06-11 16:21:44+00:00,"[minut, go, nice, see, correct, answer, gonna,..."
3219,212194564772073473,2012-06-11 14:48:21+00:00,"[today, battleofthebush, prize, winner, random..."

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyboardInterrupt: ignored