In [1]:
import re
import nltk
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import pandas as pd
from tqdm import tqdm

porter_stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
import emoji
import re
import pandas as pd

In [1]:
pip install emoji --upgrade

Collecting emoji
  Downloading emoji-2.2.0.tar.gz (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.9/240.9 kB 1.1 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.2.0-py3-none-any.whl size=234912 sha256=54e7ac92fe5c0e0ecdfedb8df7875d9257706e47aa1a91133684cd61c6a91801
  Stored in directory: /Users/cai/Library/Caches/pip/wheels/34/1c/15/553c4ad364178bab0c80f1fec134dec07ad6f1afbf15e360c1
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# from nltk.tokenize import word_tokenize
nltk.download('punkt')
# from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [5]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, SnowballStemmer, WordNetLemmatizer

### 單一文件測試（比較不會吐血）

In [494]:
celebrity = pd.read_csv('/content/drive/MyDrive/tweet_test/AnnaKendrick47.csv', encoding='utf-8')
celebrity

,twitter_id,date,tweet
0,1538329814771408896,2022-06-19 01:16:23+00:00,b'@billyeichner @ecareyo Billy!! If you keep t...
1,1538263976689246208,2022-06-18 20:54:46+00:00,b'@billyeichner We can finally live our truth ...
2,1495591654828687363,2022-02-21 02:50:11+00:00,"b'@LouisPeitzman Sir, please do not come for o..."
3,1495470771736514563,2022-02-20 18:49:51+00:00,b'@joshgondelman That\xe2\x80\x99s only becaus...
4,1495167995911360512,2022-02-19 22:46:43+00:00,b'@trixiemattel @Barbie \xf0\x9f\x92\x95\xf0\x...
...,...,...,...
2463,2880005300,2009-07-27 23:47:51+00:00,b'3.To clarify: annakendrick47 is my FIRST & o...
2464,2879979190,2009-07-27 23:46:09+00:00,b'2.Was asked why I didn\xe2\x80\x99t just hav...
2465,2879943758,2009-07-27 23:43:50+00:00,b'1.Must give a big thanks to Rachelle Lefevre...
2466,2831350530,2009-07-25 03:10:40+00:00,b'Seeeeee....... (this is the only twitter I h...
2467,2830485681,2009-07-25 02:10:27+00:00,"b'I\'ll be honest, just created this to say th..."

In [495]:
def combineRow(data):
  tweet_data = []  
  tmp = celebrity.copy()
  m = tmp['tweet'].str.contains('\w+')
  tmp_ = tmp[m].groupby((~m).cumsum(), as_index=False).agg(', '.join)
  tweet_data.append(tmp_)
  tweet_data = pd.concat(tweet_data)
  return tweet_data

tweet_data = combineRow(celebrity)
tweet_data

/usr/local/lib/python3.7/dist-packages/pandas/core/groupby/generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

,date,tweet
0,"2022-06-19 01:16:23+00:00, 2022-06-18 20:54:46...",b'@billyeichner @ecareyo Billy!! If you keep t...

### 全部文件

In [ ]:
import os
filename = os.listdir('/content/drive/MyDrive/tweet_test/')

In [230]:
def combineRow(path):
  tweet_data = []
  for f in filename:  
    data = pd.read_csv(path+f)
    tmp = data.copy()
    m = tmp['tweet'].str.contains('\w+')
    tmp_ = tmp[m].groupby((~m).cumsum(), as_index=False).agg(', '.join)
    tweet_data.append(tmp_)
  tweet_data = pd.concat(tweet_data)
  tweet_data = tweet_data.reset_index(drop=True)
  return tweet_data

In [421]:
tweet_data = combineRow('/content/drive/MyDrive/tweet_test/')
tweet_data

/usr/local/lib/python3.7/dist-packages/pandas/core/groupby/generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

,date,tweet
0,"2022-06-30 13:49:59+00:00, 2022-06-11 01:33:52...",b'\xe2\x80\x9cHONEY\xe2\x80\x9d out now!\n\nht...
1,"2022-07-04 15:03:52+00:00, 2022-07-04 15:02:22...",b'Thank you to my band and my crew for two sea...
2,"2018-11-02 16:02:32+00:00, 2017-10-03 17:44:35...",b'I like u so much more than your social media...
3,"2022-06-19 01:16:23+00:00, 2022-06-18 20:54:46...",b'@billyeichner @ecareyo Billy!! If you keep t...
4,"2022-07-11 23:11:05+00:00, 2022-07-11 22:56:45...",b'There is a major difference between criminal...
5,"2022-07-11 21:10:50+00:00, 2022-07-09 18:53:36...",b'Fusion will need to be an important part of ...
6,"2022-06-24 23:36:25+00:00, 2022-06-22 21:34:40...",b'RT @laurenarankin: The Supreme Court just ov...
7,"2022-07-04 19:00:21+00:00, 2022-07-03 15:48:22...","b'RT @ScottBoltonJuno: 6 years ago today, Juno..."
8,"2022-06-30 17:43:46+00:00, 2022-06-27 20:23:58...","b'https://t.co/JvmfYDgISJ', b'Motivated &amp; ..."
9,"2022-07-08 12:45:47+00:00, 2022-07-08 12:45:47...",b'Michelle and I send our deepest condolences ...
10,"2022-03-25 23:04:07+00:00, 2021-09-20 22:46:49...",b'June 28 @onlymurdershulu https://t.co/EbClBy...
11,"2022-07-10 19:53:04+00:00, 2022-07-08 14:29:05...","b""RT @LindaWhitby01: @CodySimpson is the best ..."
12,"2021-12-10 18:00:02+00:00, 2021-10-26 15:00:00...","b'Dear Twitter Friends, Will you join me for a..."
13,"2022-07-11 16:49:34+00:00, 2022-07-06 22:16:50...",b'\xf0\x9f\x9a\xa8#CURTAINCALL2 DROPS 8/5 - HI...
14,"2022-07-09 23:20:24+00:00, 2022-07-09 18:30:05...",b'Moments in Sicily!\xc2\xa0\xf0\x9f\x92\x96\x...
15,"2022-07-11 15:36:40+00:00, 2022-07-08 13:10:02...","b""I'm thrilled that some of the students from ..."

### 處理emoji

In [496]:
tweet_data_copy = tweet_data.copy()

In [497]:
def processEmoji(data):
  for i in range(len(data)):
    post = data.at[i, 'tweet']
    result = re.findall(r'\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][0-9]\\x[A-Za-z][0-9]\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][0-9]\\x[A-Za-z][0-9]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][A-Za-z]\\x[A-Za-z][0-9]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][0-9]\\x[A-Za-z][0-9]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][0-9]\\x[0-9][0-9]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][0-9]\\x[0-9][A-Za-z]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[0-9][0-9]\\x[A-Za-z][A-Za-z]|\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]\\x[A-Za-z][0-9]\\x[A-Za-z][0-9]|\\x[A-Za-z][0-9]\\x[0-9][0-9]\\x[0-9][0-9]|\\x[A-Za-z][0-9]\\x[0-9][0-9]\\x[A-Za-z][0-9]\\x[A-Za-z][A-Za-z]\\x[A-Za-z][0-9]\\x[0-9][A-Za-z]|\\x[A-Za-z][0-9]\\x[0-9][0-9]\\x[0-9][A-Za-z]', post)
    string_ = []
    for j in result:
      string_.append(j.encode().decode('unicode_escape').encode("raw_unicode_escape"))
    emoji_list = []
    for k in string_:
      emoji_list.append(k.decode("utf-8", errors='ignore'))
    emoji_text = []
    for m in range(len(emoji_list)):
      emoji_text.append(emoji.demojize(emoji_list[m]))
    post_list = []
    for l in range(len(result)):
      post = post.replace(result[l] , emoji_text[l])
    data.tweet[i] = post
  return data

In [498]:
processed_emoji = processEmoji(tweet_data_copy)
processed_emoji

,date,tweet
0,"2022-06-19 01:16:23+00:00, 2022-06-18 20:54:46...",b'@billyeichner @ecareyo Billy!! If you keep t...

### 處理文字

In [235]:
def Preprocessor_test(text:str, stemmer: str='Snowball', remove_mbti: bool=False) -> list:
	# Cleaning
  text = re.sub(r'\|\|\|', ' ', text)  # Split by separator
  text = re.sub(r'http\S+', ' ', text)  # Replace hyperlink
  text = re.sub(r'\d',' ', text)  # 去除數字
  text = re.sub(r'^b\'', ' ', text) 
  text = re.sub(r"[A-Za-z]+\'+\w+", ' ', text)  # Handling apostrophe (e.g. you've, there's)
  text = re.sub(r'x[A-Za-z]', ' ', text)
  text = re.sub(r'\b[A-Za-z]\b', ' ', text)
  text = re.sub(r"\@+[A-Za-z]+\w+", ' ', text)
  text = re.sub(r'\bR[A-Z]\b', ' ', text)
  text = re.sub(r'[.,"\'\-?:!;@#&()]', ' ', text)
  text = re.sub(r'\\',' ', text)
  text = re.sub(r'[’“”/]', ' ', text)
  # text = re.sub('[^0-9a-zA-Z]',' ', text)  # Keep only numbers and alphabets (remove special characters)
  # text = re.sub(r'\b[A-Za-z]\b', ' ', text)
  text = text.lower()
  if remove_mbti == True:
    text = re.sub('intj|intp|entj|entp|infp|enfj|enfp|istj|isfj|estj|esfj|istp|isfp|estp|esfp|infj', '', text)
  	# Tokenization
  tokens = word_tokenize(text)
  filtered_tokens = [w for w in tokens if not w in stopwords.words('english')]  # Remove stopwords
	# Stemming
  stemmer_ = SnowballStemmer("english")
  if stemmer == 'Porter|porter':
    stemmer_ = PorterStemmer()
  if stemmer not in ['Snowball', 'snowball', 'Porter', 'porter']:
    raise ValueError("Please check passed argument: stemmer must be 'Snowball' or 'Porter'")
  stemmed = [stemmer_.stem(t) for t in filtered_tokens]
	# Lemmatizing
  lemma = WordNetLemmatizer()
  lemmatized = " ".join([lemma.lemmatize(w) for w in stemmed])
  return lemmatized

In [499]:
processed_emoji_ = processed_emoji.copy()

In [500]:
def test_text(data):
  for i in range(len(data)):
    post = data.loc[i, 'tweet']

    text = Preprocessor_test(post, remove_mbti=False)

    data.tweet[i] = text
  return data

In [501]:
test = test_text(tweet_data_copy)
test

,date,tweet
0,"2022-06-19 01:16:23+00:00, 2022-06-18 20:54:46...",billi keep talk sex life public swear everyth ...

## mbti

In [541]:
data = pd.read_csv('/content/drive/MyDrive/Kaggle_MBTI_newPre.csv').drop(['posts','preprocessed'],axis=1)
data

                                                  posts
0     moment sportscent top ten play prank life chan...
1     find lack post alarm sex bore posit often exam...
2     good one cours say know bless cur absolut posi...
3     dear enjoy convers day esoter gab natur univer...
4     fire anoth silli misconcept approach logic go ...
...                                                 ...
8670  ixfp alway think cat fi dom reason especi webs...
8671  thread alreadi exist someplac el heck delet on...
8672  mani question thing would take purpl pill pick...
8673  conflict right come want child honest matern i...
8674  long sinc personalitycaf although seem chang o...

[8675 rows x 1 columns]

In [545]:
# 有一筆資料前處理完變成nan
data_dropna = data.dropna().reset_index(drop=True)

In [533]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features = 2000, stop_words='english', lowercase=False, norm=None ,use_idf=True, smooth_idf=True)

In [547]:
x = tfidf.fit_transform(data_dropna.flat)
vec_text = x.toarray()
vec_df = pd.DataFrame(vec_text)
display(vec_df)

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,0.00000,0.0,4.477214,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
1,0.000000,2.100574,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2,5.793088,2.100574,4.710619,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,2.85581,0.0,0.000000,0.000000,0.000000,0.000000,3.867691,0.0,0.0,0.000000
3,0.000000,4.201148,2.355310,0.0,0.0,0.000000,0.0,2.505,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
4,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,2.85581,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8669,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,2.845635,3.317099,0.000000,0.0,0.0,3.892333
8670,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
8671,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,2.85581,0.0,0.000000,0.000000,0.000000,0.000000,3.867691,0.0,0.0,0.000000
8672,0.000000,4.201148,0.000000,0.0,0.0,0.000000,0.0,0.000,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
8673,0.000000,2.100574,0.000000,0.0,0.0,3.758282,0.0,0.000,0.0,0.0,...,2.85581,0.0,0.000000,2.828268,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [548]:
vec_df.shape

(8674, 2000)

In [549]:
y = data_dropna.type.values

In [550]:
y

array(['INFJ', 'ENTP', 'INTP', ..., 'INTP', 'INFP', 'INFP'], dtype=object)

In [551]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(vec_df, y, test_size=0.2, random_state=42, stratify=y)
print((X_train.shape),(y_train.shape),(X_test.shape),(y_test.shape))

(6939, 2000) (6939,) (1735, 2000) (1735,)

### 名人(test)資料轉成vector -> 預測

可以用單一資料or全部資料

In [ ]:
p = tfidf.transform(test.tweet)
vec_tweet = p.toarray()

In [ ]:
result = {你的model}.predict(vec_tweet)
result